@charset "utf-8";

/* Start For Blutton */

/* ボタンエリア指定 -------------- */
.btn_area_l{
	width:50%;
	margin:0 auto;
	padding:0;
	text-align:center;
	overflow:hidden;
}

.btn_area_l2{
   width: 220px;
   margin: 1% auto;
   padding: 0;
   text-align: center;
   overflow: hidden;
}

.btn_area_n{
	width:450px;
	margin:5% auto;
	padding:0;
	text-align:center;
	overflow:hidden;
}

.btn_area_n2{
	width:450px;
	margin: 2% auto 3% auto;
	padding: 0;
	text-align:center;
	overflow:hidden;
}

.btn_area_n2 ul{
	width:100%;
	margin:0 auto;
	padding: 0;
	text-align:center;
}

.btn_area_n2 li{
	width:45%;
	margin:1% auto 5% 5px;
	padding: 0;
	text-align:center;
}

/*---------------------------------------*/

/* ボタン共通指定 ----------------------- */

/*next*/
.btn{
width: 90%;
	margin: 10px;
	padding: 0;
	float: left;
	font-size: 0.85em;
	background: #333;
	text-decoration: none;}

/*prev*/
.btn2{
	width: 90%;
	margin: 10px;
	padding: 0;
	float: left;
	font-size: 0.85em;
	background: #fff;
	text-decoration: none;
	border:2px solid #333;
	}

.bt_next{
	width: 90%;
	margin: 10px;
	padding: 0;
	float: left;
	font-size: 0.85em;
	background: #333;
	clear: both;
	text-decoration: none;
}


.btn_mini {
	margin:5px;
	padding:0;
	width:193px;
	height:30px;
	float:left;
	text-align:center;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 0 1px 6px #ccc inset;
	-moz-box-shadow: 0 1px 6px #ccc inset;
	-webkit-box-shadow: 0 1px 6px #ccc inset;
	background:#fff;
}

.btn_prev{
	margin: 0;
	padding: 0;
}

.btn_prev a{
	margin: 0;
	font-size: 15px;
	color: #333 !important;
	width: 100%;
	height: 25px;
	padding:10px 0 0 5px;
	display: block;
	text-align: center;
	text-decoration: none;
	background: url("../img/icon/icon_prev.png") no-repeat 3% 50%;
}

.btn_prev a:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}

.btn_next{
	margin: 0;
	padding: 0;
}

.btn_next a {
	font-size: 15px;
    color: #fff !important;
    width: 100%;
    height: 23px;
    padding: 12px 0 3px 0;
    display: block;
    text-align: center;
    float: right;
    text-decoration: none;
    background: url("../img/icon/icon_next.png") no-repeat 96% 50%;}

.btn_next a:hover {
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}


.btn_next #n_b_entrycomp {
	font-size: 15px;
	color: #fff !important;
	width: 100%;
	height: 38px;
	padding: 9px 0 6px 0;
	display: block;
	text-align: center;
	float: right;
	text-decoration: none;
	background: url("../img/icon/icon_next.png") no-repeat 96% 50%;
	border-style: solid; border-color: #333;
	cursor: pointer;
}

.btn_next_mini {
	margin: 0;
	padding: 0;
}

.btn_next_mini a {
	margin:0;
	padding: 8px 30px 8px 0;
	font-size:12px;
	color:#333 !important;
	width: 160px;
	height: 14px;
	display:block;
	text-decoration:none;
	background:url("../img/icon/icon_next.png") no-repeat 98% 50%;
}

.btn_next_mini a:hover {
	text-decoration:underline;
}
/*---------------------------------------*/

/*Block Button*/

/*Block Cart -----------------------*/
.btn_cart {
	width: 100%;
	margin: 20px auto 5px auto;
	padding: 3px;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	letter-spacing: 0.2em;
	/*border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;*/
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	text-align:center;
	clear: both;
}

.btn_cart a{
	margin: 0 auto;
	padding: 10px 0;
	display:block;
	color:#fff;
	text-decoration:none;

}

.btn_cart a:hover{
	background: #45484d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	color:#aaa;
}
/*---------------------------------------*/

/*Block Category -----------------------*/

/*中央配置*/
#one_maincolumn #categoryarea #categorytree,
#two_maincolumn #categoryarea #categorytree,
three_maincolumn #categoryarea #categorytree {
    padding:0;
}
#one_maincolumn  #categoryarea ul,
#two_maincolumn  #categoryarea ul,
#three_maincolumn #categoryarea ul
{width:100%;margin:0;padding:0;}

#one_maincolumn #categoryarea ul li,
#two_maincolumn #categoryarea ul li,
#three_maincolumn #categoryarea ul li
{width:20%;float:left;}

#one_maincolumn #categoryarea li a img,
#two_maincolumn #categoryarea li a img,
#three_maincolumn #categoryarea li a img
{width:60%;height:auto;padding:10px;}

#one_maincolumn #categoryarea li a,
#two_maincolumn #categoryarea li a,
#three_maincolumn #categoryarea li a {
    padding: 0;
    color: #333;
    display: block;
	text-align:center;
}

#one_maincolumn #categoryarea li a span,
#two_maincolumn #categoryarea li a span,
#three_maincolumn #categoryarea li a span{
	display: block;
	/*
	position: relative;
    top: -10px;
	*/
}

#one_maincolumn #categoryarea li a:hover,
#two_maincolumn #categoryarea li a:hover,
#three_maincolumn #categoryarea li a:hover {
    color: #FFF;
    text-decoration: none;
}
#one_maincolumn #categoryarea li.level1,
#two_maincolumn #categoryarea li.level1,
#three_maincolumn #categoryarea li.level1 {
    border-bottom: 1px dotted #ccc;
	margin:0;
    padding: 0;
}
#one_maincolumn #categoryarea li.level1 a,
#two_maincolumn #categoryarea li.level1 a,
#three_maincolumn #categoryarea li.level1 a {
    margin: 5px 0;
    padding: 8px 0;
	text-decoration:none;
}
#one_maincolumn #categoryarea li.level1 a:hover,
#two_maincolumn #categoryarea li.level1 a:hover,
#three_maincolumn #categoryarea li.level1 a:hover {
   background: #aaa url("../img/icon/icon_arrow_c.png") no-repeat 95% center;

}



#one_maincolumn #categoryarea li.level1 li.level2 a,
#two_maincolumn #categoryarea li.level1 li.level2 a,
#three_maincolumn #categoryarea li.level1 li.level2 a {
    margin:  0;
    padding: 8px 0 8px 20px;
    font-weight: lighter;
    border: none;
    background: url("../img/icon/icon_arrow_a.png") no-repeat 0 center;
	display:none;
}
#one_maincolumn #categoryarea li.level1 li.level2 a:hover,
#two_maincolumn #categoryarea li.level1 li.level2 a:hover,
#three_maincolumn #categoryarea li.level1 li.level2 a:hover {
    background: #333 url("../img/icon/icon_arrow_c.png")  no-repeat 95% center;
	display:none;
}

#one_maincolumn #categoryarea li .onlink,
#two_maincolumn #categoryarea li .onlink,
#three_maincolumn #categoryarea li .onlink {
    color: #333;
    /*background: #333 url("../img/icon/icon_arrow_c.png") no-repeat 95% center!important;*/
}
#one_maincolumn #categoryarea li.onlink:hover,
#two_maincolumn #categoryarea li.onlink:hover,
#three_maincolumn #categoryarea li.onlink:hover {
    color: #FFF;
    background: #666 url("../img/icon/icon_arrow_c.png")  no-repeat 195px center!important;
}


/*左右配置*/
#leftcolumn #categoryarea #categorytree,
#rightcolumn #categoryarea #categorytree {
    padding:0;
}
#leftcolumn #categoryarea ul,
#rightcolumn #categoryarea ul{width:100%;margin:0;padding:0;}

#leftcolumn #categoryarea ul li,
#rightcolumn #categoryarea ul li{width:100%;float:none;}

#leftcolumn #categoryarea li a img,
#rightcolumn #categoryarea li a img{width:40px;height:auto;padding:0;}

#leftcolumn #categoryarea li a,
#rightcolumn #categoryarea li a{
    padding: 0;
    color: #333;
    display: block;
}

#leftcolumn #categoryarea li a span,
#rightcolumn #categoryarea li a span{
	display: inline;
	/*
	position: relative;
    top: -10px;
	*/
}

#leftcolumn #categoryarea li a:hover,
#rightcolumn #categoryarea li a:hover {
    color: #FFF;
    text-decoration: none;
}
#leftcolumn #categoryarea li.level1 ,
#rightcolumn #categoryarea li.level1 {
   border-bottom: 1px dotted #ccc;
	margin:0;
    padding: 0;
}
#leftcolumn #categoryarea li.level1 a,
#rightcolumn #categoryarea li.level1 a  {
    margin: 5px 0;
    padding: 8px 0 8px 20px;
    background: url("../img/icon/icon_arrow_b.png") no-repeat 0 center;
	text-decoration:none;
}
#leftcolumn #categoryarea li.level1 a:hover,
#rightcolumn #categoryarea li.level1 a:hover {
   background: #aaa url("../img/icon/icon_arrow_c.png") no-repeat 95% center;
}
#leftcolumn #categoryarea li.level1 li.level2 a,
#rightcolumn #categoryarea li.level1 li.level2 a {
    margin:  0;
    padding: 8px 0 8px 20px;
    font-weight: lighter;
    border: none;
    background: url("../img/icon/icon_arrow_a.png") no-repeat 0 center;
}
#leftcolumn #categoryarea li.level1 li.level2 a:hover,
#rightcolumn #categoryarea li.level1 li.level2 a:hover  {
    background: #333 url("../img/icon/icon_arrow_c.png")  no-repeat 95% center;
}

#leftcolumn #categoryarea li .onlink,
#rightcolumn #categoryarea li .onlink {
    color: #FFF;
    background: #333 url("../img/icon/icon_arrow_c.png") no-repeat 95% center!important;
}
#leftcolumn #categoryarea li.onlink:hover,
#rightcolumn #categoryarea li.onlink:hover{
    color: #FFF;
    background: #666 url("../img/icon/icon_arrow_c.png")  no-repeat 195px center!important;
}

/*---------------------------------------*/

/*Block Guide -----------------------*/
#guidearea li {
	margin:1px auto;
	width:100%;
	text-align:left;
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #555;
	background: #fff;
}

#guidearea li a {
	position:relative;
	padding: 20px 0 16px 5px;
	display:block;
	color: #333;
	text-decoration: none;
	background: url("../img/icon/icon_guide.png") no-repeat 97% 55%;
}

#guidearea li a:hover {
	display:block;
	padding: 20px 0 16px 5px;
	color:#666;
	background:#f9f9f9 url("../img/icon/icon_guide.png") no-repeat 97% 55%;
	text-decoration:none;
}

/*---------------------------------------*/

/*Block Login and logout -----------------------*/
.btn_login {
	width: 100%;
	margin: 20px auto 5px auto;
	padding: 3px;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	letter-spacing: 0.2em;
	/*border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;*/
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	text-align:center;
	clear: both;
}

.btn_login a {
	margin: 0 auto;
	padding: 10px 0;
	display:block;
	color:#fff;
	text-decoration:none;
}

.btn_login a:hover{
		background: #45484d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	color:#aaa;	}

.btn_logout {
	width: 100%;
	margin: 20px auto 5px auto;
	padding: 3px;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
	letter-spacing: 0.2em;
	/*border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;*/
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
	border:1px solid #ccc;
	text-align:center;
	clear: both;
	text-decoration:none;
}

.btn_logout a {
	margin: 0 auto;
	padding: 10px 0;
	display:block;
	color:#666;
	text-decoration:none;
	/*background: url("../img/icon/icon_mini_kotira.png") no-repeat 95% center;*/
}

.btn_logout a:hover{
	background: #f4f4f4; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f4f4f4 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
  text-decoration:none;
  color:#aaa;
}

/*---------------------------------------*/

/*Block Search -----------------------*/
.btn_search{
	margin: 10px auto;
	padding: 0;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */
	overflow: hidden;
}

.btn_search a {
	display:block;
	margin: 0;
	padding: 10px 20px ;
	color:#fff;
	text-decoration:none;
}

.btn_search a:hover{
	/*text-decoration:underline;*/
	padding: 10px;
	background: #45484d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	color:#aaa
}
/*---------------------------------------*/

/* End For Block Button*/

/*Button  Shopping Contents
---------------------*/

div#incart_btn{
	width:950px;
	margin:0;
	padding:0;
}

div#incart_btn ul{
	margin:10px auto;
	padding:0;
	width:360px;
}

div#incart_btn ul li{
	margin:0 5px 0 0;
	padding:0;
	width:150px;
	height:30px;
	float:left;
	text-align:center;
	border-radius:4px;
	background:#444;
}

/* Button Guide Contents
 ------------------------------ */

.btn_ad{
	margin:10px 0;
	padding:5px;
	width:30%;
	height:20px;
	color: #fff !important;
	text-decoration: none;
	text-align:center;
	border-radius:4px;
	background:#aaa;
	overflow: hidden;
}

.btn_ad a:{
	text-decoration: none;
}

.btn_ad a:link {
	color:#fff;
	text-decoration: none !important;
}

.btn_ad a:hover {
	text-decoration:none !important;
}

/* Page Detail
----------------------- */
.newbtn {
	margin: 5px 10px 5px 0;
	padding: 0;
	float: left;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:2px solid #409efd;
	color:#409efd;
}

.newbtn a {
	margin: 0;
	padding: 5px 10px 5px 30px;
	display:block;
	color:#409efd;
	text-decoration:none;
	background: url("../img/icon/icon_contact.png") no-repeat 5% center;
	background-size: 20px 20px;
}

.newbtn a:hover{
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	background:#eee url("../img/icon/icon_contact.png") no-repeat 5% center;
}

/*入荷お知らせメールリスト
---------------------*/
.newbtn2 {
	margin: 2%;
	padding:0;
	/* clear: both; */
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #febf01; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #febf01 0%, #febf01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #febf01 0%,#febf01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #febf01 0%,#febf01 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #febf01 0%,#febf01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-8 */
}

.newbtn2 a {
	display:block;
	margin: 0;
	padding:3px 0 ;
	color:#fff;
	text-decoration:none;
	/*background: url("../img/icon/icon_contact.png") no-repeat 15% center;*/
}

.newbtn2 a:hover{
	/*text-decoration:underline;*/
	padding:3px 0;
	background: #fcd45a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZDQ1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2MzMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcd45a 0%, #fcc319 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd45a), color-stop(100%,#fcc319)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcd45a 0%,#fcc319 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcd45a 0%,#fcc319 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcd45a 0%,#fcc319 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcd45a 0%,#fcc319 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd45a', endColorstr='#fcc319',GradientType=0 ); /* IE6-8 */
	color:#fff;
}


/*お気に入り
---------------------*/
.favoritebtn {
	margin: 5px 0 20px 0;
	padding: 0;
	float: left;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:2px solid #409efd;
	color:#409efd;
}

.favoritebtn a {
	margin: 0;
	padding: 5px 10px 5px 30px;
	display:block;
	color:#409efd;
	text-decoration:none;
	background: url("../img/icon/icon_recomend.png") no-repeat 3% 40%;
	background-size: 20px 20px;
}

.favoritebtn a:hover{
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	background:#eee url("../img/icon/icon_recomend.png") no-repeat 3% 40%;

}

/*購入ボタン
---------------------*/

.cartbtn {
	width: 200px;
    display: block;
    float: right;
	margin: 0;
	padding: 0;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #7d7e7d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	 overflow: hidden;
}

.cartbtn a{
  display: block;
  margin: 0;
  padding:10px 0px 10px 25px;
  color: #fff;
  font-size:14px;
  text-decoration: none;
  background: url("../img/icon/icon_cart_in.png") no-repeat 23% 40% ;
  }

.cartbtn:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}


/*定期購入ボタン
---------------------*/

.t_cartbtn {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  float: right;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #91db3d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #91db3d 0%, #6cbc16 50%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91db3d), color-stop(50%,#6cbc16), color-stop(100%,#7cbc0a));
  background: -webkit-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: -o-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: -ms-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: linear-gradient(to bottom, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91db3d', endColorstr='#7cbc0a',GradientType=0 );
}

.t_cartbtn a{
  display: block;
  margin: 0;
  padding: 10px 0px 10px 25px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: url("../img/icon/icon_cart_in.png") no-repeat 22% 40% ;
}

.t_cartbtn:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}




/*List Page*/

/*商品一覧（詳しくはこちらボタン）
-------------------------------*/
.rpst_btnbox{
  max-width: 260px;
  margin: 10px auto;
  background: #fff;
  font-weight:bold;
  border: 2px solid #ccc;
  overflow: hidden;
}

.rpst_btnbox a{
	margin: 0;
	padding: 7px 0 5px 0;
	display: block;
	color: #333;
	text-align:center;
	text-decoration: none;
}

.rpst_btnbox a:hover{
	background: #eee;
}



/*お気に入り
---------------------*/
.cartbtn2 {
	margin: 10px auto;
	padding: 5px 3px 3px 3px;
	max-width: 255px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border:2px solid #60abf8;
	overflow: hidden;
	color:#499bea;
}

.cartbtn2:hover{
	padding: 5px 3px 3px 3px;
	background: #7abcff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-8 */
	color:#fff;
}


/*一覧購入ボタン
-------------------*/
.lst_cartbtn {
	margin: 10px auto;
	padding: 0;
	max-width: 260px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #7d7e7d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	 overflow: hidden;
}

.lst_cartbtn a{
  display: block;
  margin: 0;
  padding:10px 0 10px 25px;
  color: #fff;
  font-size:14px;
  text-decoration: none;
  background: url("../img/icon/icon_cart_in.png") no-repeat 25% 40%;
  }

.lst_cartbtn:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}


/*一覧購入ボタン中央配置の時*/
#three_maincolumn #productscolumn .lst_cartbtn{
	margin: 10px auto;
	padding: 0;
	max-width: 210px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #7d7e7d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	 overflow: hidden;
}

#three_maincolumn #productscolumn .lst_cartbtn a{
  display: block;
  margin: 0;
  padding:10px 0 10px 15px;
  color: #fff;
  font-size:14px;
  text-decoration: none;
  background: url("../img/icon/icon_cart_in.png") no-repeat 10% 40%;
  }

#three_maincolumn #productscolumn .lst_cartbtn:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}



/*一覧定期購入ボタン
-------------------*/
.t_cartbtn2 {
  margin: 10px auto;
  padding: 0;
  max-width: 260px;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #91db3d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #91db3d 0%, #6cbc16 50%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91db3d), color-stop(50%,#6cbc16), color-stop(100%,#7cbc0a));
  background: -webkit-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: -o-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: -ms-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: linear-gradient(to bottom, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91db3d', endColorstr='#7cbc0a',GradientType=0 );
  overflow: hidden;
}


.t_cartbtn2 a{
  display: block;
  margin: 0;
  padding:10px 0 10px 25px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: url("../img/icon/icon_cart_in.png") no-repeat 26% 40%;
}

.t_cartbtn2:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}


/*一覧定期購入ボタン中央配置の時*/
#three_maincolumn #productscolumn .t_cartbtn2 {
  margin: 10px auto;
  padding: 0;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #91db3d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #91db3d 0%, #6cbc16 50%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91db3d), color-stop(50%,#6cbc16), color-stop(100%,#7cbc0a));
  background: -webkit-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: -o-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: -ms-linear-gradient(top, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  background: linear-gradient(to bottom, #91db3d 0%,#6cbc16 50%,#7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91db3d', endColorstr='#7cbc0a',GradientType=0 );
  overflow: hidden;
}

#three_maincolumn #productscolumn .t_cartbtn2 a{
  display: block;
  margin: 0;
  padding:10px 0 10px 15px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background: url("../img/icon/icon_cart_in.png") no-repeat 10% 40%;
}

#three_maincolumn #productscolumn .t_cartbtn2:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}





/*その他ボタン
-------------------------------------*/

.btn_down {
	color:#999999;
	padding:0 20px 0 0;
	background: url("../img/icon/icon_down.png") no-repeat 98% center;
	text-decoration:none;
}

.btn_down a {
	color:#333333;
	text-decoration:none;
}

.btn_down a:hover{
	text-decoration:underline;
}


/*ランキング、オススメ*/
.btnbox {
	margin: 10px auto 0 auto;
    padding: 0;
	text-align: center;
    font-size: 1em;
    width: 150px;
    float: right;
    clear: both;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    font-size: 14px;  }

.btnbox a {
  margin: 0;
  padding:5px 10px 5px 10px;
  display: block;
  color: #555;
  text-decoration: none;
  /*background: url("../img/icon/icon_mini_kotira.png") no-repeat 90% center;*/
}

.btnbox :hover{
    background:#eee url("../img/icon/icon_mini_kotira.png") no-repeat 99% center;
	text-decoration:none;
}

#leftcolumn .btnbox,
#rightcolumn .btnbox
{
	argin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 1em;
    width: 98%;
    float: none;
    clear: both;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    font-size: 14px;
    display: block;
}



/*おすすめ詳細ボタン*/
.btnbox166 {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ddd;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
	padding: 0;
	text-align: center;
	float: left;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	display:none;
}

.btnbox166 a {
	margin: 0;
	padding: 5px 0;
	display:block;
	color:#444;
	font-size:12px;
	letter-spacing:0.01em;
	text-decoration:none;
}

.btnbox166 a:hover{
	background: #eeeeee; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}



/*新しいお届け先を追加する(左配置)*/
.btnbox_l {
	margin: 10px 0 20px 0;
    float: left;
    background: rgb(100,167,229);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(100,167,229,1) 0%, rgba(74,146,224,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,167,229,1)), color-stop(100%,rgba(74,146,224,1)));
    background: -webkit-linear-gradient(top, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    background: -o-linear-gradient(top, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    background: linear-gradient(to bottom, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a7e5', endColorstr='#4a92e0',GradientType=0 );
}

.btnbox_l a {
    margin: 0;
    padding: 10px 20px;
    min-width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.btnbox_l a:hover{
 background: #888;

}

/*新しいお届け先を追加する(右配置)*/
.btnbox_r {
	margin: 10px 0 20px 0;
    float: right;
    background: rgb(100,167,229);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(100,167,229,1) 0%, rgba(74,146,224,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,167,229,1)), color-stop(100%,rgba(74,146,224,1)));
    background: -webkit-linear-gradient(top, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    background: -o-linear-gradient(top, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    background: linear-gradient(to bottom, rgba(100,167,229,1) 0%,rgba(74,146,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a7e5', endColorstr='#4a92e0',GradientType=0 );
}

.btnbox_r a {
    margin: 0;
    padding: 10px 20px;
    min-width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.btnbox_r a:hover{
 background: #888;
}


/*非会員住所変更ボタン*/

.btn_nomenber {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  font-size:15px;
  font-weight:bold;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #ccc;
}

.btn_nomenber a {
  margin: 0;
  padding: 10px 0;
  display: block;
  font-size:120%;
  font-weight:600;
  color: #333;
  text-decoration: none;
}

.btn_nomenber a:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}



/*みんなのレビュー*/
.btn_review {
  width: 35%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  float: left;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border: 1px solid #ccc;
}

.btn_review a {
margin: 0;
  padding: 10px 0;
  display: block;
  font-weight:600;
  color: #333;
  text-decoration: none;
}

.btn_review a:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;
}

/*---------------------------------------*/

/*マイページナビボタン*/
#mynavarea ul {
	margin:0 auto;
	padding:0;
}

#mynavarea li {
	margin:5px auto;
	padding:5px 0;
	display:block;
	text-align:left;
	font-size: 14px;
	font-weight: normal;
	border-bottom:1px dotted #ccc;
	/*box-shadow: 0 1px 6px #ccc inset;
	-moz-box-shadow: 0 1px 6px #ccc inset;
	-webkit-box-shadow: 0 1px 6px #ccc inset;
	background:#fff;*/
	background: url("../img/icon/icon_guide.png") no-repeat 98% 50%;

}

#mynavarea li a {
	position:relative;
	margin: 0 auto;
	padding: 8px 0 10px 10px;
	display:block;
  	width: 95%;
	height:auto;
	color: #444;
	text-decoration: none;
	background: url("../img/icon/icon_guide2.png") no-repeat 97% 50%;

}

#mynavarea li a:hover {
	text-decoration:none;
	background-color:#555;
	color:#fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}




/*取り消しボタン*/
.btn_fv {
	width: 100px;
	height: 0;
	margin: 0 auto 25px auto;
	padding: 0;
	font-size: 0.85em;
	text-align: center;
	line-height: 0;
	clear: both;
}

.btn_fv a {
	color:#555;
	margin: 0;
	padding:10px 0;
	display: block;
	text-decoration:none;
	background: #C9C9C9;
	border: double 3px #f7f7f7;
}

.btn_fv a:hover{
	color:#fff;
	text-decoration:none;
	background:#d96040;
	border: double 3px #f7f7f7;
}



/*マガジンメール登録*/
.mgz_btn{
	width: 15%;
	margin: 0 0 0 10px;
	padding: 6px 0;
	display: block;
	float: left;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background:#f6f6f6;
	border:1px solid #ccc;
	font-size:14px;

}

.maga_input{width:80%;padding:5px;float:left;}

.btn_teach_mail{
	width: 25%;
	margin: 1%;
	padding: 5px 0 5px 40px;
	display: block;
	float: left;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 5px #ccc inset;
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	background: url("../img/icon/icon_mini_mail.png") no-repeat 98% 50%;
}

.btn_teach_mail a {
	color: #333;
	text-decoration: none;
	display: block;
}

.btn_teach_mail a:hover {
	text-decoration: underline;
}

.btn_teach_fb{
	width: 25%;
	margin: 1%;
	padding: 5px 0 5px 40px;
	display: block;
	float: left;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 5px #ccc inset;
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	background: url("../img/icon/icon_mini_fb.png") no-repeat 5% 50%;
}

.btn_teach_fb a {
	color: #333;
	text-decoration: none;
	display: block;
}

.btn_teach_fb a:hover {
	text-decoration: underline;
}

.btn_teach_tw{
	width: 25%;
	margin: 1%;
	padding: 5px 0 5px 40px;
	display: block;
	float: left;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 5px #ccc inset;
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	background: url("../img/icon/icon_mini_tw.png") no-repeat 5% 50%;
}

.btn_teach_tw a {
	color: #333;
	text-decoration: none;
	display: block;
}

.btn_teach_tw a:hover {
	text-decoration: underline;
}


/*リピスト用*/
.btn_rpst1{
  width: 25%;
  margin: 10px 0 0 220px;
  padding: 0px 3px;
  float: left;
  font-size: 0.85em;
  background: #ffffff;
  border: 2px solid #555;
}

.btn_rpst2{
  width: 25%;
  margin: 10px 0 0 10px;
  padding: 0px 3px;
  float: left;
  font-size: 0.85em;
  background: #333;
}

.btn_rpst1e{
  width: 25%;
  margin: 10px 0 0 180px;
  padding: 0 3px;
  float: left;
  font-size: 0.85em;
  background: #ffffff;
  border: 2px solid #555;
  text-align: center;
}

.btn_rpst2e{
  width: 25%;
  margin: 10px 0 0 10px;
  padding: 0 3px;
  float: left;
  font-size: 0.85em;
  background: #333;
  text-align: center;
}



/*お届け日の確認ボタン*/

.t_daybox a{ color:#fff;
 text-decoration: none;
 font-size:15px
}

.btn_day{
	width:200px;
	margin: 5px 10px 5px 15px;
	padding: 10px;
	float: left;
	font-size: 0.85em;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	moz-border-radius: 2px;
	background: #7d7e7d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	text-align: center;
}

.btn_day a{
 color:#fff;
 text-decoration: none;
 font-size:15px

}

.t_daybox a:hover{
	text-decoration:none;
	opacity:0.7;
	filter: alpha(opacity=70);        /* ie lt 8 */
	-ms-filter: "alpha(opacity=70)";  /* ie 8 */
	-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
	-khtml-opacity: 0.7;              /* Safari 1.x */
	zoom:1;

}


/*LPアップセル用*/
.upsell{
	width: 200px;
	margin: 20px auto;
	padding: 14px;
	text-align: center;
	background: #C8FFD1;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	box-shadow: 0 0 6px #85DB8C inset;
	-moz-box-shadow: 0 0 6px #85DB8C inset;
	-webkit-box-shadow: 0 0 6px #85DB8C inset;
}
.upsell a{
	color: #39943D;
	text-decoration: none;
	font-size: 15px;
}
.upsell a:hover{text-decoration: underline;}

.btn_area_shopping{
    width:100%;
    margin:5% auto;
    padding:0;
    text-align:center;
    overflow: hidden;
}

.btn_area_shopping ul{
    list-style: none;
    margin : 0 auto;
}

.btn_area_shopping li{
    float: left;
    width: 33%;
}

.lp_combtn {
width: 30%;
list-style: none;
margin: 2px;
padding: 9px 0;
font-size: 14px;
text-align: center;
float: left;
color: #fff;
border: 1px dotted #666;
background: #ccc;
}

.lp_combtn a {
    color: #666;
}

/* lp_complete.png に対応するボタン */
.confirm_button {
    background: linear-gradient(#888888 0%, #000000 100%);
    border-width: 0px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.28);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}

.pc_confirm_button {
    font-size: 22px;
    font-weight: bold;
    height: 65px;
    letter-spacing: 0.1em;
    margin-top: 4px;
    line-height: 38px;
    width: 275px;
}

/* lp_complete.png に対応するボタン2 */
.ordercomp_bt{
    background: linear-gradient(#888888 0%, #000000 100%);
    border-width: 0px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgb(0 0 0 / 28%);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    vertical-align: top;}

.ordercomp_bt a {
	font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    width: 300px;
    padding: 5em;
}