@charset "utf-8";

/************************************************************************************
RESET
*************************************************************************************/
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,dl,dt,dd{
	margin: 0;
	padding: 0;
}

table,p,img,fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}


body {
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Arial,Helvetica,sans-serif;
	color: #555555;
	/*background: #ccc url("../img/common/bg_common.png");*/
	font-size: .8em;
	line-height: 1.4em;
	letter-spacing:1px;
	height: 100%;
}

li {
	list-style-type: none;
}


/*間隔
----------------------------------------------- */
.pdr5{padding-right:5px;}
.pdr10{padding-right:10px;}
.pdr14{padding-right:14px;}
.pdr15{padding-right:15px;}
.pdl5{padding-left:5px;}
.pdl10{padding-left:10px;}
.pdlr5{padding-left:5px;padding-right:5px;}
.pdlr10{padding-left:10px;padding-right:10px;}
.pd10{padding:10px;}
.pdtb10{padding:10px 0;line-height:1.3rem;}
.pdt15{padding-top:15px;}
.mga10{margin:10px;}
.mga15{margin:15px;}
.mgt10{margin-top:10px;}
.mgt20{margin-top:20px;}
.mgt30{margin-top:30px;}
.mgb10{margin-bottom:10px;}
.mgb15{margin-bottom:15px;}
.mgb20{margin-bottom:20px;}
.mgtb10{margin:10px 0;}
.mgtb15{margin:15px 0;}


/*回り込み*/
.fl_r{float:right;}
.fl_l{float:left;}


/*配置*/
.pst-7{position:relative;top:-7px}
.pst3{position:relative;top:3px;}
.pst4{position:relative;top:4px;}
.pst5{position:relative;top:5px;}
.pst7{position:relative;top:7px;}
.pst10{position:relative;top:10px;}
.pst13{position:relative;top:13px;}
.pst15{position:relative;top:15px;}
.pst20{position:relative;top:20px;}
.psl30{position:relative;left:30px;}


/* Select --------------------------------- */
select {
	border: solid 1px #ccc;
	float: left;
	height: 30px;
    border: 1px solid #ccc;
    font-size: 1rem;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 5px 0;
}


#select_pay {
	border: solid 1px #ccc;
	float: center;
}


/* Text Field --------------------------------- */
input[type='text'] {
	border: 1px solid #C4CCCE;
    box-shadow: none;
    font-size: 1rem;
    height: 20px;
    line-height: 1.1;
	
	/*border-radius*/
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px !important;;	
}


input[type='password'] {
	border: 1px solid #C4CCCE;
    box-shadow: none;
    font-size: 1rem;
    height: 20px;
    line-height: 1.1;
	
	/*border-radius*/
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px !important;;	
}

input, button, select{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin: 5px 0;
}


input[type="radio"]{font-size:x-large;} 


 /* -------------------------------
 セレクト装飾用
 -------------------------------*/	
form .custom-selectbox {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    z-index: 1;
	
	/*box-sizing*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	
	/*border-radius*/
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;	
    
}

form .custom-selectbox:before {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 100%;
	padding: 0 0.35em;
	background: url(../img/common/select_arrow_all.png) no-repeat center center;
	text-align: center;
	content: '';
	z-index: 1;
	pointer-events: none;
}

form .custom-selectbox select {
  display: block;
  width: 100%;
  padding:0 10px !important;
  height: 30px;
  margin: 0;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
   font-size:1em;
   /*background:#fff;*/
  
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  /*border-radius*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}


/*お届け変更用セレクト*/
form .custom-regselectbox {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    z-index: 1;
	
	/*box-sizing*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	
	/*border-radius*/
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
    
}

form .custom-regselectbox:before {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 100%;
	padding: 0 0.35em;
	background: url(../img/common/select_arrow_all.png) no-repeat center center;
	text-align: center;
	content: '';
	z-index: 1;
	pointer-events: none;
}

form .custom-regselectbox select {
  display: block;
  width: 100%;
  padding:0 20px 0 10px !important;
  height: 30px;
  margin: 0;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
   font-size:1em;
   /*background:#fff;*/
  
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  /*border-radius*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}

.w10{width:10%;}
.w15{width:15%;}
.w20{width:20%;}
.w30{width:30%;}
.w40{width:40%;}
.w50{width:50%;}
.w60{width:60%;}
.w65{width:65%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w95{width:95%;}
.w98{width:98%;}
.w100{width:100%;}


/*PHOTO --------------------------------- */

.picture {
	/*border: 1px solid #ccc;*/
}

/* 大枠
----------------------------------------------- */
#wrapper{
	margin: 0 auto;
	height: 0;
	width: 100%;
	height: 100%;
}

/* フロート回り込み解除
----------------------------------------------- */
br.clear {
	clear: both;
	display: none;
	font-size: 0px;
	line-height: 0%;
	height: 0px
}

/* フォント
----------------------------------------------- */
h1,h2,h3,h4,h5 {
	font-size: 100%;
	line-height: 150%;
}
.price { color: #e20000; font-weight: bold; }
.attention {color: #e20000;font-size:12px;line-height:1.5rem; }
.mini {
	font-size: 12px;
	clear:both;
}
em {
    font-size: 12px;
    font-style: normal;
    color: #e20000;
    margin: 5px 0;
    }
	
.pr_amt em{
    font-size: 16px;
    font-weight: bold;
}	
	
div#red01 {
	color:#e20000;
}

div.red02 {
	color:#e20000;
}

.phototd {
	width: 75px;
	text-align: center;
}

.centertd {
	text-align: center;
}

.pricetd {
	text-align: right;
}

.pricetd em {
	font-weight: bold;
}

div#completetext {
	width: 90%;
	margin: 3% auto 0 auto;
	padding: 3%;
	border: 1px solid #ccc;
	overflow: hidden;
}

div#completetext em {
	font-weight: normal;
}

div#completetext p{
	padding: 4% 0 0 0;
	text-align: left;
	clear:both;
}

/*shopping_ポイント*/
.bd_solid {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.bd_dash {
    border: 1px dashed #aaa;
    padding: 10px;
    margin: 10px;
    width: 43%;
}
.allbg_blue{background:rgb(235,246,255);padding:10px;overflow:hidden;}
.allbg_gray{background:#f6f6f6;padding:10px;overflow:hidden;}

/* ラベル
----------------------------------------------- */
span.required {
	margin: 0 0 0 1em;
	padding: 0.1em 0.5em;
	font-size: 70%;
	background: #E54848;
	color: #fff;
	border-radius: 0.4em;
	vertical-align: middle;
	position: relative;
	top: -0.25em;
}

span.any {
	margin: 0 0 0 1em;
	padding: 0.1em 0.5em;
	font-size: 70%;
	background: #999;
	color: #fff;
	border-radius: 0.4em;
	vertical-align: middle;
	position: relative;
	top: -0.25em;
}
#three_maincolumn span.required{
    margin: 0 0 0 0.3em;
    padding: 0.1em 0.3em;
}
#three_maincolumn span.any{
    margin: 0 0 0 0.3em;
    padding: 0.1em 0.3em;

}
/*住所自動入力
------------------------------------------------*/
.zipimg{margin:0;padding:0;}
.zipimg img {margin: 5px 0 0 0 ;}
.zipimg a {color:#666;text-decolation:none;}
.zipimg a:hover{color:#666;}

.zip_bt{
	padding: 5px 10px;
    line-height:1rem;
    margin: 0 0 0 5px ;
    cursor: pointer;
    font-weight:normal;
    font-size: 100%;
	letter-spacing:0.002rem;
    text-decoration: none;
    border: 1px solid #ccc;
    position: relative;
    background-color: #f1f1f1;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
    background: -webkit-linear-gradient(top,#fff,#f1f1f1);
    background: -moz-linear-gradient(top,#fff,#f1f1f1);
    background: -ms-linear-gradient(top,#fff,#f1f1f1);
    background: -o-linear-gradient(top,#fff,#f1f1f1);
    background: linear-gradient(top,#fff,#f1f1f1);
    -pie-background: linear-gradient(top,#fff,#f1f1f1);
	
	/*border-radius*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    border-radius: 4px;
	
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
	}		
/*------------------------------------------------*/	
