div.listrightblock li@charset "utf-8";

div#productscolumn {
	width: 100%;
	margin: 2% auto;
	overflow: hidden;
}

/* 検索結果
----------------------------------------------- */
/*p.conditionarea {
	clear: both;
	width: 566px;
	margin: 0 auto;
	padding: 5px;
	border: solid 1px #333;
}*/


/* ページ送り
----------------------------------------------- */
.pagenumberarea {
  margin: 0 auto 1% auto;
  padding: 1% 0;
  font-size: 12px;
  
}

.pagecondarea {
  margin: 0 auto 1% auto;
  padding: 2% 1%;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}


.pagenumberarea, .pagecondarea a{
	color:#333333;
	text-decoration:none;
}

.pagenumberarea, .pagecondarea a:hover{
	color:#999999;
	text-decoration:none;
}

ul.pagenumberarea {
  height: 1em;
  padding: 10px 0;
  clear: both;
}


ul.pagecondarea {
	margin: 0 auto;
	border: 1px solid #ccc;
	background: #f6f6f6;
	line-height:1.5rem;
}

li .pagecondarea{padding:5px 0;}

ul.pagenumberarea li {
	float: left;
	width: 32%;
}

ul.pagenumberarea li.left {
	color:#333333;
	text-align: left;
	padding: 0 0 0 5px;
	white-space: nowrap;
}

ul.pagenumberarea li.center {
	text-align: center;
	white-space: pre;
}

ul.pagenumberarea li.center a {
	color: #1984de;
	text-decoration:none;
}

ul.pagenumberarea li.center a:hover {
	text-decoration:underline;
}

ul.pagenumberarea li.right {
	text-align: right;
	white-space: nowrap;
}

.pagenumberarea .pagenumber{
	color: #e20000;
	font-weight: bold;
	etter-spacing: 0.1em;
	font-size: 14px;
	padding-right: 3px;
}

p.pagenumberarea .number{
	font-weight: bold;
}

/* 商品一覧 */

/* タイトル
----------------------------------------------- */

div#listtitle {
	margin:10px auto;
	font-size: 16px;
	font-weight: normal;
}

div#listtitle h2 {
	padding: 10px 0 10px 40px;
	color: #333333;
	background: url("../img/icon/icon_mini_tag.png") no-repeat 1% 50%;
	border-bottom:2px solid #333;
}
div#listtitle h2 a{
	color: #333333;
	text-decoration: none;
}
div#listtitle h2 a:hover{
	text-decoration: underline;
}


/*パンくず
----------------------------------------------- */
.ict_bg, .kanren{margin:10px 0 0 0;padding:0; font-size:90%; height:16px; overflow:hidden; color:#9c9c9c;}
.ict_bg a, .kanren a{color:#454545;text-decoration:none;}
.ict_bg a:hover, .kanren a:hover{color:#454545;text-decoration:none; text-decoration:underline;}

/*関連カテゴリ*/
.kanren_ct{border-top:1px dotted #ccc;padding: 10px 0 0 0;margin: 10px 0;overflow: hidden;font-size: 14px;}
.kanren_ct span{border-right:1px dotted #ccc;padding:0 3px 0 5px;line-height:1.5rem;}
.kanren_ct span:last-child {
	list-style: none;border: 0;
}


/* 商品1
----------------------------------------------- */
div.listarea {
    width: 32%;
    height: 100%;
    margin: 0 auto 10px auto;
    padding: 0;
    overflow: auto;
    display: inline-block;
}

div.listphoto {
	margin: 0 auto;
    padding: 10px;
	text-align:center;
}

div.listphoto img{
	width: auto;
	height: 150px;
	margin:0 auto;
}

div.listrightblock {
	width: 90%;
    margin: 0 auto;
    padding: 2% 0;
}

div.listrightblock ul {
	margin:0 auto;
}

div.listrightblock li {
    display: inline-block;
    padding: 3px 0 3px 3px;
}

div.listrightblock h3 {
	margin:0;
	padding: 5px 10px;
	font-size: 14px;
	font-weight:bold;
	background: #fff;
    overflow: hidden;
}

div.listrightblock h3 a {
	font-size: 100%;
	color:#333;
	text-decoration:none;
	line-height:1.2em;
    letter-spacing: 0.005em;
	word-break: break-all;
}

div.listrightblock h3 a:hover {
	text-decoration:underline;
}

div.listrightblock .listcomment {
	padding:5px 10px;
	letter-spacing: 0.005em;
	word-break: break-all;
	overflow:hidden;
}

div.listrightblock .listcont {
	padding:10px;
	overflow:hidden;
}

div.listrightblock .pricebox {
    font-size: 14px;
    padding: 0 5px;
}

div.listrightblock .soldout {
	padding:0 10px;
	clear: both;
}

div.listrightblock .in_cart {
	margin: 0 1%;
	padding: 0 2%;
}

div.listrightblock .quantity {
	width: 150px;
}

 /*規格*/
 div.listrightblock .ct_list {
	 border-top:1px dotted #ccc;
	 padding:5px 0 0 0;
	 margin-top:10px;
	 }
div.listrightblock .ct_list dl{
	width:100%;div.listrightblock .ct_list
	margin:0;
	padding:0;
	} 

div.listrightblock .ct_list dt {
    display: block;
    font-size:90%;
    text-align: left;
    padding: 3px 3px 0 3px;
    font-weight: normal;
}

div.listrightblock .ct_list dd {
    padding: 3px;
    display: block;
}


/*数量*/
div.listrightblock .num_quantity{margin:0;padding:0;}
div.listrightblock .num_quantity dl{width:100%;padding: 5px 0 0 0;} 

div.listrightblock .num_quantity dt {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    padding: 10px 0 0 10px;
	width:20%;
    font-weight: bold;
}

div.listrightblock .num_quantity dd {
    padding: 3px;
	 display: inline-block;
}

div.listrightblock .box54 {
	width: 54px;
	border: solid 1px #ccc;
	text-align:center;
}



/* 商品詳細 */

/* タイトル
----------------------------------------------- */
div#detailtitle {
	margin:10px auto;
	font-size: 14px;
	font-weight: bold;
	background:#f6f6f6;
}

div#detailtitle h2 {
	padding: 10px 0 10px 40px;
	color: #333333;
	background: url("../img/icon/icon_mini_tag.png") no-repeat 2% 50%;
}



/* 商品詳細情報
----------------------------------------------- */
.dt_comment{
	margin:10px auto 30px auto;
	font-size: 14px;
	clear:both;
	}
	
.dt_comment h3 {
  padding: 10px 0 ;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.dt_comment h3 span {
	font-weight: bold;
	padding: 10px 0 ;
	color: #333333;
}

.detail_p{
	margin: 10px 0 10px 0;
	padding:0;
	word-break: break-all;
}


/* 商品2
----------------------------------------------- */
div#detailarea {
	  width: 100%;
	  margin: 0 0 2% 0;
	  padding: 0;
	  overflow:hidden;
}

div.detail_product div.detail_product_img{position:relative;width:950px;height:410px;}
div.detail_product div.main_img{width:950px;height:400px;position:absolute;z-index:3;top:0;left:0;}
div.detail_product div.sub_img{position:absolute;z-index:4;top:20px;left:812px;}
div.detail_product div.sub_img .sub_img_img{width:118px;margin:2px;padding-bottom:12px;cursor:pointer;}
div.detail_product div.product_detail_numbox{font-size:8.33px;}
div.detail_product h1.ttl{color:#444;font-size:21px;font-weight:bold;letter-spacing: -1px;margin-bottom:10px;}
div.detail_product h2.sub_ttl{color:#444;font-size:12px;font-weight:100;letter-spacing: 0.5px;}
div.detail_product input[type="text"].product_detail_numbox{background-color:#fff;border: 1px solid #000;width:24px;margin: 0 5px;}
div.detail_product div.detail_area{width:950px;}
div.detail_product div.detail_product_area{width:950px;border: 1px solid #ccc;}
div.detail_product div.detail_product_body{}
div.detail_product div.detail_product_area .area1{float:left;width:260px;}
div.detail_product div.detail_product_area .area2{float:left;width:400px;font-size:10px;}
div.detail_product div.detail_product_area .area3{float:left;width:290px;}
div.detail_product div.detail_etc{font-size:10px;}
div.detail_product div.detail_etc a{color:#444;}
div.detail_product div.detail_etc a:link{color:#444;text-decoration: none}
div.detail_product div.detail_etc a:visited{color:#444;text-decoration: none}
div.detail_product div.detail_etc a:hover{color:#444;text-decoration:underline;}

div.support_area{background-color:#f7f7f7;}
div.support_area  .input_style{}
div.support_area  .input_style input[type="text"]{color: #999;padding:5px;margin:0 10px 10px 0;background-color:#fff;border: 1px #ccc solid;-khtml-border-radius:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.support_area  .input_style input[type="text"]:focus, input[type="text"].focused { border-color: #000; color: #333;}



.cloud-zoom-lens {border: 4px solid #888;margin:-4px;	/* Set this to minus the border thickness. */background-color:#fff;	/*cursor:move;*/}	/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}	/* This is for the title text. */
.cloud-zoom-big {border:4px solid #ccc;overflow:hidden;}	/* This is the zoom window. */
.cloud-zoom-loading {color:white;	background:#222;padding:3px;border:1px solid #000;}	/* This is the loading message. */

.bd_area{border-top:1px dotted #ccc;padding: 10px 0 0 0;margin: 10px 0;clear:both;overflow: hidden;    font-size: 14px; line-height: 1.2rem;}
.related_items{}
.sub_ttl{color:#000;font-size:12px;/*font-weight:bold;*/font-family: Verdana,Arial,Helvetica,sans-serif;letter-spacing: -1px;}


/*商品写真（左）
----------------------------------------------- */

div#detailphotoblock {
	margin:0 20px 0 0;
	float: left;
	/*width: 36%;*/
}

div#detailphotoblock p {
	margin: 10px;
}

div#detailphotoblock img{width:100%; margin:0 auto 10px auto;}

div#detailphotoblock #gallery {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.sub_all {
    float: left;
    width: 20%;
}

div#detailphotoblock #gallery ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

div#detailphotoblock #gallery li {
    margin: 0 5%;
    padding: 0;
}


/*商品詳細（右）
----------------------------------------------- */
div#detailrightblock {
	float: right;
	width: 60%;
	margin:0 0 30px 0;

}

div#detailrightblock li {
	display: inline;
}

/*#detailrightbloc title*/
div#detailrightblock h2 {
	color:#555555;
	margin: 10px 0;
	padding: 0;
	font-size: 130%;
	font-weight: normal;
}

/*#detailrightbloc dl dt dd*/
div#detailrightblock dl {
	margin:0;
	padding:0;
	width: 100%;
	overflow: hidden;
}

div#detailrightblock dt {
	font-weight: normal;
    width: 20%;
    padding: 5px 0;
    margin: 0 0 0 0;
    float: left;
    overflow: hidden;
}

div#detailrightblock dd {
	width: 75%;
    margin: 0 15px 0 0;
    float: left;
    overflow: hidden;
}



/*#detailrightbloc table*/
div#detailrightblock table{
  width: 100%;
  margin: 15px auto 15px auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
}


div#detailrightblock table th{
  padding: 8px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  font-weight: normal;
}


div#detailrightblock table td{
  padding: 8px;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.ft_h2{	color:#555555;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 130%;
	font-weight: normal;
}
div#detailrightblock #enpt_area{display:table;font-size:12px;}
div#detailrightblock .en_area{display:table-cell;padding:3px 0 0 0 ;}
div#detailrightblock .en_area span{ /* padding: 0; */position: relative;top: -5px;padding:0 10px 0 0;}
div#detailrightblock .pt_area {display: table-cell;padding:3px 0 0 0 ;margin: 0;}
div#detailrightblock .pt_area span {/* padding: 0; */position: relative;top: -5px;}
div#detailrightblock .pt_area span img,div#detailrightblock .en_area span img{position:relative;top:10px;}

div#detailrightblock .zaiko_area{font-size:12px;}
div#detailrightblock .zaiko_area span{position: relative;top: -5px;}

div#detailrightblock .lg_en{font-size:140%;color:#ff0000;}


div#detailrightblock .numarea{float:left;width:35%;margin:5px 0 0 0;}

div#detailrightblock .numarea .box54 {
	width: 40px;
	padding:3px;
	margin:0 10px 0 10px;
	text-align:center;
	border: solid 1px #ccc;
}


/*#detailrightbloc teiki*/
div#detailrightblock .teiki_area {
  margin: 20px 0;
  padding: 10px 0px;
  overflow: hidden;
  clear: both;
}


div#detailrightblock .teiki_area h3 {
	margin:10px 0;
	padding:10px;
	background:#fff;
	border-top: 1px solid #888;
	border-bottom: 1px dotted #888;
    overflow: hidden;
	clear:both;
	 
}

div#detailrightblock .tx_teiki {
	font-size:18px;
	float:left;
	 
}

div#detailrightblock .tx_teiki_en {
	float:right;
}


div#detailrightblock .teiki_area .attention {
	color: #e20000;
	float: left;
	width: 100%;
}


/*マトリックス表示*/
div#detailrightblock .kikaku_bl{width:100%;margin:10px 0;}


/* サブタイトル
----------------------------------------------- */
div.subarea {
	margin:5px auto;
	padding:0;
	float:left;
	clear: both;
	width: 300px;
}

div.subarea h3 {
	margin:5px auto;
	padding:5px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background:#000;
	box-shadow: 0 1px 6px #ccc;
	-moz-box-shadow: 0 1px 6px #ccc;
	-webkit-box-shadow: 0 1px 6px #ccc;
}

div.subphotoimg {
	float: left;
	width: 60px;
	height:60px;
	display: block;
}

h3.sub_h3 {
	float: left;
	width: 100%;
}

div.subtext {
	width: 65%;
	margin: 0;
	padding: 1%;
	float: left;
	font-size: 0.6em;
}

